body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}
button
{
	border: none;
	border-radius: 5px;
	padding: 7px;
	background-color: lightgrey;
	transition-duration: 0.7s;
}
#buy
{
	margin-left: 50%;
}
button:hover
{
	background-color: grey;
}
#des
{
	padding: 50px 0px 25px 50px;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
nav button {
    text-decoration: none;
    color: #fff;
	border-radius: 5px;
	padding: 10px;
	background-color: grey;
	transition-duration: 0.7s;
}
nav button:hover
{
	background-color: black;
}
main
{
	margin: 25px;
}
.tab
{
	display: inline-block;
	text-align: left;
	margin: 0px 30px 0px 30px;
}
footer {
    background-color: #333;
    color: #fff;
	text-align: center;
}
.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.product-item {
    margin: 15px;
    text-align: center;
}
.product-image {
    width: 130px;
    height: 130px;
}
.product-name {
    margin-top: auto;
}
.product-details {
    margin-top: 5px;
}
@media(max-width: 767px)
{
	.product-item
	{
		margin: 0px;
	}
	.product-image
	{
		width: 75px;
		height: 75px;
	}
}
.foot
{
	background-color: transparent;
	padding: 0px;
}
.add-to-cart-btn {
    background-color: red;
    color: white;
}
.add-to-cart-btn.added-to-cart {
    background-color: green;
}
:root {
  --vs-primary: 29 92 255;
}
dialog {
  padding: 1rem 3rem;
  background: white;
  max-width: 400px;
  padding-top: 2rem;
  border-radius: 20px;
  border: 0;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
  -webkit-animation: fadeIn 1s ease both;
          animation: fadeIn 1s ease both;
}
dialog::-webkit-backdrop {
  -webkit-animation: fadeIn 1s ease both;
          animation: fadeIn 1s ease both;
  background: rgba(255, 255, 255, 0.4);
  z-index: 2;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
dialog::backdrop {
  -webkit-animation: fadeIn 1s ease both;
          animation: fadeIn 1s ease both;
  background: rgba(255, 255, 255, 0.4);
  z-index: 2;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
dialog .x {
  filter: grayscale(1);
  border: none;
  background: none;
  position: absolute;
  top: 15px;
  right: 10px;
  transition: ease filter, transform 0.3s;
  cursor: pointer;
  transform-origin: center;
}
dialog .x:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}
dialog h2 {
  font-weight: 600;
  font-size: 2rem;
  padding-bottom: 1rem;
}
dialog p {
  font-size: 1rem;
  line-height: 1.3rem;
  padding: 0.5rem 0;
}
dialog p a:visited {
  color: rgb(var(--vs-primary));
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#accessibility
{
	padding: 0.6%;
	background-color: grey;
	color: white;
	font-weight: bold;
	left: 3%;
	bottom: 0;
	position: fixed;
}
#feedback
{
	padding: 0.6%;
	background-color: grey;
	color: white;
	right: 3%;
	bottom: 0;
	position: fixed;
}
#link
{
	color: white;
}
select
{
	margin: 5px;
	font-size: 17px;
	border-radius: 5%;
	background-color: grey;
}
